{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Picky-Bucket - {{title}}</title>
  {% else %}
    <title> Picky-Bucket </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/baseprojects.css' %}">
  {% endblock %}


</head>

<body>
    {% include "base/navbar.html" %}

    {% block content %}
    <div class="container">

            <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                                <li data-target="#myCarousel" data-slide-to="4"></li>
                                <li data-target="#myCarousel" data-slide-to="5"></li>
                            </ol>
                            
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                {% for item in all_images %}
                                {% if forloop.counter == 1 %}
                                <div class="item active">
                                {% else %}
                                <div class="item">
                                {% endif %}
                                <div class="CarouselImg">
                                    <a href="{% url 'image' image_id=item.id %}">
                                        <img src="{{ item.article_image.url }}" alt="Image">
                                    </a>
                                </div>
                            
                                </div>
                                {% endfor %}
                                <div class="carousel-caption">
                                        <div class="arrow_image">
                                                <img src="../../../media/Photobucket-icon.png" alt="">
                                             </div>
                                 
                                             <div class="ws-title">
                                                 <h1>Welcome to Picky Bucket</h1>
                                             </div>
                                 </div>
                                </div>
                            
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                </div>

           

    </div> 
    </div>

    
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>