{% load bootstrap3 %} {% block content %}



<div class="container">
    <div class='col-md-4 profilepic'>
        {% load avatar_tags %} {% avatar user 300 %}
    </div>
    <div class='col-md-8'>
            <h1>Welcome back {{ user }}</h1>
            <h4>Your email: {{user.email}}</h4>
            <a href="{% url 'profile'%}">
                    <button class="btn btn-primary">Edit Profile</button>
                </a>
                <h5>
                        <span style="font-weight:bolder;">Followers:</span>
                        {{followers | length }}</h5>
                    <h5>
                        <span style="font-weight:bolder;">Following:</span>
                        {{following | length }}</h5>
       

    </div>
    <div class='col-md-2'>
        <h2>View latest photos: </h2>
    </div>
</div>

<!-- <div class="background">
    <div class="row">

            {% load avatar_tags %}
            {% avatar user 30 %}
            <h1>Welcome back {{ user }}</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            {}
        </div>
    </div>
</div> -->
{% endblock %}